# Import Statements

In [1]:
import csv
import pandas as pd
import pgmpy

# Import CSV files

In [2]:
def GetInputFile(filepath):
    t = []
    with open(filepath, 'rU') as f:
        reader = csv.reader(f)
        for row in reader:  
            t.append(row)
    return t

In [3]:
table2 = GetInputFile('Table2.csv')
table3 = GetInputFile('Table3.csv')
table4 = GetInputFile('Table4.csv')
table5 = GetInputFile('Table5.csv')
table6 = GetInputFile('Table6.csv')
table7 = GetInputFile('Table7.csv')
table8 = GetInputFile('Table8.csv')

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: 'U' mode is deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

# Function to Load the table

In [4]:
def LoadTable(tableno):
    if(tableno == 2):
        return table2
    if(tableno == 3):
        return table3
    if(tableno == 4):
        return table4
    if(tableno == 5):
        return table5
    if(tableno == 6):
        return table6
    if(tableno == 7):
        return table7
    if(tableno == 8):
        return table8

# Function to Get the Denominator

In [5]:
def GetDenominator(tableno):
    if(tableno == 2):
        return (table2[0][1], table2[1][1], table2[2][1], table2[3][1])
    if(tableno == 3):
        return (table2[0][1], table2[1][1], table2[2][1], table2[3][1])
    if(tableno == 4):
        return (table2[0][2], table2[1][2], table2[2][2], table2[3][2], table2[4][2])
    if(tableno == 5):
        return (table2[0][3], table2[1][3], table2[2][3])
    if(tableno == 6):
        return (table2[0][4], table2[1][4], table2[2][4], table2[3][4])
    if(tableno == 7):
        return (table2[0][5], table2[1][5], table2[2][5], table2[3][5])
    if(tableno == 8):
        return (table2[0][6], table2[1][6], table2[2][6], table2[3][6], table2[4][6])

# Function to Get the Numerator

In [6]:
def GetNumerator(firstchar):
    if(firstchar == 'x01'):
        return (table2[0][1], table2[1][1], table2[2][1], table2[3][1], table2[4][1])
    if(firstchar == 'x02'):
        return (table2[0][2], table2[1][2], table2[2][2], table2[3][2], table2[4][2])
    if(firstchar == 'x03'):
        return (table2[0][3], table2[1][3], table2[2][3], table2[3][3], table2[4][3])
    if(firstchar == 'x04'):
        return (table2[0][4], table2[1][4], table2[2][4], table2[3][4], table2[4][4])
    if(firstchar == 'x05'):
        return (table2[0][5], table2[1][5], table2[2][5], table2[3][5], table2[4][5])
    if(firstchar == 'x06'):
        return (table2[0][6], table2[1][6], table2[2][6], table2[3][6], table2[4][6])

# Function to Get the Number of Classes

In [7]:
def GetClassNo(tableno, firstchar):
    if(tableno == 3):
        if(firstchar == 'x02'):
            return 5
        if(firstchar == 'x04'):
            return 4
        if(firstchar == 'x06'):
            return 5
    if(tableno == 4):
        if(firstchar == 'x03'):
            return 3
        if(firstchar == 'x05'):
            return 4        
    if(tableno == 5):
        if(firstchar == 'x02'):
            return 5
        if(firstchar == 'x05'):
            return 4
        if(firstchar == 'x06'):
            return 5
    if(tableno == 6):
        if(firstchar == 'x01'):
            return 4
        if(firstchar == 'x02'):
            return 5
        if(firstchar == 'x06'):
            return 5
    if(tableno == 7):
        if(firstchar == 'x02'):
            return 5
        if(firstchar == 'x03'):
            return 4
    if(tableno == 8):
        if(firstchar == 'x01'):
            return 4
        if(firstchar == 'x02'):
            return 5
        if(firstchar == 'x03'):
            return 3
        if(firstchar == 'x04'):
            return 4

# Number of Iterations

In [8]:
def GetItercount(tableno):
    if(tableno == 3):
        return 3
    if(tableno == 4):
        return 2
    if(tableno == 5):
        return 3
    if(tableno == 6):
        return 3
    if(tableno == 7):
        return 2
    if(tableno == 8):
        return 4

# Get Node Names

In [9]:
def GetNodeFromNo(tableno):
    if(tableno == 3):
        return 'x1'
    if(tableno == 4):
        return 'x2'
    if(tableno == 5):
        return 'x3'
    if(tableno == 6):
        return 'x4'
    if(tableno == 7):
        return 'x5'
    if(tableno == 8):
        return 'x6'
def GetNodeFromFirstChar(firstchar):
    if(firstchar == 'x01'):
        return 'x1'
    if(firstchar == 'x02'):
        return 'x2'
    if(firstchar == 'x03'):
        return 'x3'
    if(firstchar == 'x04'):
        return 'x4'
    if(firstchar == 'x05'):
        return 'x5'
    if(firstchar == 'x06'):
        return 'x6'

# Function to Calculate Closeness

In [10]:
def GetCloseness(t, so_far):
    table = LoadTable(t) 
    #print("Table", t)
    denominator = GetDenominator(t) 
    firstchar = table[so_far][0]
    #print(firstchar)
    numerator = GetNumerator(firstchar)
    #i = GetClassNo(t, firstchar)
    column_sum = 0
    row_sum = 0
    for x in range(0,i):
        for y in range(0,len(denominator)):
            column_wise = abs(((float(table[so_far + x][1 + y])) - float(numerator[x])) * float(denominator[y]))
            column_sum = column_sum + column_wise
        row_sum = row_sum + column_sum
    return row_sum

In [11]:
closeness = []
for t in range(3,9):
    table = LoadTable(t)
    i = GetItercount(t)
    so_far = 1
    for c in range(0,i): #Number of changes for so_far
        firstchar = table[so_far][0]
        indep = GetCloseness(t, so_far)
        increment = GetClassNo(t, firstchar)
        so_far = so_far + increment
        print(GetNodeFromNo(t), GetNodeFromFirstChar(firstchar),indep)
        closeness.append([GetNodeFromNo(t), GetNodeFromFirstChar(firstchar),indep])

x1 x2 0.35122499999999995
x1 x4 0.23123500000000002
x1 x6 0.16162000000000004
x2 x3 0.181745
x2 x5 0.10792499999999998
x3 x2 0.3051379999999999
x3 x5 0.13688000000000006
x3 x6 0.10176
x4 x1 0.16804000000000008
x4 x2 0.17149999999999999
x4 x6 0.17378999999999992
x5 x2 0.07294999999999999
x5 x3 0.11489999999999997
x6 x1 0.49266
x6 x2 0.31101500000000004
x6 x3 1.1073750000000002
x6 x4 0.45643

# Function To Get The Edges

In [12]:
def SortByThreshold(threshold):
    approved = []
    for i  in range(0,len(closeness)):
        if(closeness[i][2] < threshold):
            approved.append([closeness[i][0],closeness[i][1]])
    return approved

# Create the Dataframe

In [13]:
data = pd.DataFrame(data = { "x1" : [156, 3, 11, 30, 0],
                             "x2" : [55, 64, 5, 34, 42],
                             "x3" : [36, 132, 32, 0, 0],
                             "x4" : [143, 21, 2, 34, 0],
                             "x5" : [75, 22, 21, 82, 0],
                             "x6" : [3, 64, 28, 63, 42]})
data

    x1  x2   x3   x4  x5  x6
0  156  55   36  143  75   3
1    3  64  132   21  22  64
2   11   5   32    2  21  28
3   30  34    0   34  82  63
4    0  42    0    0   0  42

# Model 1 - Low Threshold

In [14]:
#Low threshold -> More nodes
#Threshold -> o.2
approved = SortByThreshold(0.2)
edges = []
#Correct the format
for i in range(0, len(approved)):
    edges.append([(approved[i][0], approved[i][1])])

In [15]:
edges

[[('x1', 'x6')],
 [('x2', 'x3')],
 [('x2', 'x5')],
 [('x3', 'x5')],
 [('x3', 'x6')],
 [('x4', 'x1')],
 [('x4', 'x2')],
 [('x4', 'x6')],
 [('x5', 'x2')],
 [('x5', 'x3')]]

In [16]:
from pgmpy.models import BayesianModel
model1 = BayesianModel([('x1', 'x6'), 
                       ('x2', 'x3'), ('x2', 'x5'), 
                       ('x3', 'x5'), ('x3', 'x6'), 
                       ('x4', 'x1'), ('x4', 'x2'), ('x4', 'x6')])

In [17]:
#Add the cpds
from pgmpy.base import DirectedGraph
from pgmpy.factors.discrete import TabularCPD, JointProbabilityDistribution, DiscreteFactor
from pgmpy.factors.continuous import ContinuousFactor
from pgmpy.independencies import Independencies
from pgmpy.extern import six
from pgmpy.extern.six.moves import range, reduce
from pgmpy.models.MarkovModel import MarkovModel


values = data
model1.fit(values)
model1.get_cpds()

[<TabularCPD representing P(x1:5 | x4:5) at 0x29300535e48>,
 <TabularCPD representing P(x2:5 | x4:5) at 0x29300535c88>,
 <TabularCPD representing P(x3:4 | x2:5) at 0x29300535eb8>,
 <TabularCPD representing P(x4:5) at 0x29300535d30>,
 <TabularCPD representing P(x5:5 | x2:5, x3:4) at 0x29300535e80>,
 <TabularCPD representing P(x6:5 | x1:5, x3:4, x4:5) at 0x293005724e0>]

In [18]:
from pgmpy.estimators import BayesianEstimator
from pgmpy.estimators import K2Score
est = BayesianEstimator(model1, data)
k2 = K2Score(data)
print('Model 1 K2 Score: ' + str(k2.score(model1)))

Model 1 K2 Score: -48.744003704015

# Model 2 - Very High Threshold

In [19]:
#Threshold -> o.1, fewer can get in
approved = SortByThreshold(0.15)
edges = []
#Correct the format
for i in range(0, len(approved)):
    edges.append([(approved[i][0], approved[i][1])])
edges

[[('x2', 'x5')],
 [('x3', 'x5')],
 [('x3', 'x6')],
 [('x5', 'x2')],
 [('x5', 'x3')]]

In [20]:
model2 = BayesianModel([('x2', 'x5'), 
                       ('x3', 'x5'), ('x3', 'x6')])
#Add the cpds
from pgmpy.base import DirectedGraph
from pgmpy.factors.discrete import TabularCPD, JointProbabilityDistribution, DiscreteFactor
from pgmpy.factors.continuous import ContinuousFactor
from pgmpy.independencies import Independencies
from pgmpy.extern import six
from pgmpy.extern.six.moves import range, reduce
from pgmpy.models.MarkovModel import MarkovModel


values = data
model2.fit(values)
model2.get_cpds()

[<TabularCPD representing P(x2:5) at 0x2930059e588>,
 <TabularCPD representing P(x3:4) at 0x2930059e5f8>,
 <TabularCPD representing P(x5:5 | x2:5, x3:4) at 0x2930059e470>,
 <TabularCPD representing P(x6:5 | x3:4) at 0x2930059ec50>]

In [21]:
from pgmpy.estimators import BayesianEstimator
from pgmpy.estimators import K2Score
est = BayesianEstimator(model2, data)
k2 = K2Score(data)
print('Model 2 K2 Score: ' + str(k2.score(model2)))

Model 2 K2 Score: -34.02017058382574

# Model 3 - Very Low Threshold

In [22]:
#Threshold  = 0.25
approved = SortByThreshold(0.25)
edges = []
#Correct the format
for i in range(0, len(approved)):
    edges.append([(approved[i][0], approved[i][1])])
edges

[[('x1', 'x4')],
 [('x1', 'x6')],
 [('x2', 'x3')],
 [('x2', 'x5')],
 [('x3', 'x5')],
 [('x3', 'x6')],
 [('x4', 'x1')],
 [('x4', 'x2')],
 [('x4', 'x6')],
 [('x5', 'x2')],
 [('x5', 'x3')]]

In [23]:
from pgmpy.models import BayesianModel
model3 = BayesianModel([('x1', 'x4'),('x1', 'x6'), 
                       ('x2', 'x3'), ('x2', 'x5'), 
                       ('x3', 'x5'), ('x3', 'x6'), 
                       ('x4', 'x2'), ('x4', 'x6'),])

In [24]:
values = data
model3.fit(values)
model3.get_cpds()

[<TabularCPD representing P(x1:5) at 0x2937f41f198>,
 <TabularCPD representing P(x2:5 | x4:5) at 0x2937f41f978>,
 <TabularCPD representing P(x3:4 | x2:5) at 0x2937f416e10>,
 <TabularCPD representing P(x4:5 | x1:5) at 0x2937f416cc0>,
 <TabularCPD representing P(x5:5 | x2:5, x3:4) at 0x2937f41f8d0>,
 <TabularCPD representing P(x6:5 | x1:5, x3:4, x4:5) at 0x2930059e4a8>]

In [25]:
from pgmpy.estimators import BayesianEstimator
from pgmpy.estimators import K2Score
est = BayesianEstimator(model3, data)
k2 = K2Score(data)
print('Model 3 K2 Score: ' + str(k2.score(model3)))

Model 3 K2 Score: -48.74400370401501

# Model 4 -   Low Threshold (Reversed Directions)

In [26]:
approved = SortByThreshold(0.4)
edges = []
#Correct the format
for i in range(0, len(approved)):
    edges.append([(approved[i][0], approved[i][1])])
edges

[[('x1', 'x2')],
 [('x1', 'x4')],
 [('x1', 'x6')],
 [('x2', 'x3')],
 [('x2', 'x5')],
 [('x3', 'x2')],
 [('x3', 'x5')],
 [('x3', 'x6')],
 [('x4', 'x1')],
 [('x4', 'x2')],
 [('x4', 'x6')],
 [('x5', 'x2')],
 [('x5', 'x3')],
 [('x6', 'x2')]]

In [27]:
from pgmpy.models import BayesianModel
model4 = BayesianModel([('x1', 'x2'), ('x1', 'x6'),                    
                       ('x3', 'x2'), ('x3', 'x6'), 
                       ('x4', 'x1'), ('x4', 'x2'), ('x4', 'x6'), 
                       ('x5', 'x2'), ('x5', 'x3'), ('x6', 'x2')])

In [28]:
values = data
model4.fit(values)
model4.get_cpds()

[<TabularCPD representing P(x1:5 | x4:5) at 0x2930059ea90>,
 <TabularCPD representing P(x2:5 | x1:5, x3:4, x4:5, x5:5, x6:5) at 0x293005b5668>,
 <TabularCPD representing P(x3:4 | x5:5) at 0x293005b5ef0>,
 <TabularCPD representing P(x4:5) at 0x293005b55c0>,
 <TabularCPD representing P(x5:5) at 0x293005b50b8>,
 <TabularCPD representing P(x6:5 | x1:5, x3:4, x4:5) at 0x2937f41f240>]

In [29]:
from pgmpy.estimators import BayesianEstimator
from pgmpy.estimators import K2Score
est = BayesianEstimator(model4, data)
k2 = K2Score(data)
print('Model 4 K2 Score: ' + str(k2.score(model4)))

Model 4 K2 Score: -50.32058779157802

# Model 5 - High Threshold (Reverse)

In [30]:
#Threshold -> o.1, fewer can get in
approved = SortByThreshold(0.15)
edges = []
#Correct the format
for i in range(0, len(approved)):
    edges.append([(approved[i][0], approved[i][1])])
edges

[[('x2', 'x5')],
 [('x3', 'x5')],
 [('x3', 'x6')],
 [('x5', 'x2')],
 [('x5', 'x3')]]

In [31]:
model5 = BayesianModel([('x3', 'x6'), ('x5', 'x2'), ('x5', 'x3')])
values = data
model5.fit(values)
model5.get_cpds()

[<TabularCPD representing P(x2:5 | x5:5) at 0x2937f25acf8>,
 <TabularCPD representing P(x3:4 | x5:5) at 0x2937f41f710>,
 <TabularCPD representing P(x5:5) at 0x2937f41f780>,
 <TabularCPD representing P(x6:5 | x3:4) at 0x2937f41f5c0>]

In [32]:
from pgmpy.estimators import BayesianEstimator
from pgmpy.estimators import K2Score
est = BayesianEstimator(model5, data)
k2 = K2Score(data)
print('Model 5 K2 Score: ' + str(k2.score(model5)))

Model 5 K2 Score: -32.83194613646794

# Task 3 - Construct a Bayesian Network from the AND Dataset

In [33]:
and_data = pd.DataFrame.from_csv('AND-Features.csv')

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [34]:
and_data

     img_id  f1  f2  f3  f4  f5  f6  f7  f8  f9
0     0359a   2   1   1   0   2   2   0   2   2
1     0577a   2   1   1   0   2   2   0   1   2
2     1120a   2   1   1   3   2   2   0   2   2
3     1120b   1   1   1   0   2   2   0   2   2
4     1120c   2   1   1   0   2   2   0   0   2
5     1121a   2   1   1   3   2   2   0   1   2
6     1121b   2   1   1   0   2   2   0   3   2
7     1121c   1   1   1   0   2   2   0   1   2
8     1229b   1   1   1   3   2   2   0   2   2
9     1302a   2   1   1   3   2   2   0   0   2
10    1302b   3   1   1   0   2   2   0   2   2
11    1302c   2   1   1   3   2   2   0   3   2
12    1305a   1   1   1   0   2   2   0   0   2
13    1305b   2   1   1   0   2   2   1   2   2
14    1305c   1   1   1   3   2   2   0   1   2
15    1386a   1   1   1   0   2   2   0   3   2
16    1386b   3   1   1   0   2   2   0   1   2
17    1386c   3   1   1   3   2   2   0   2   2
18    1391c   2   1   1   0   2   2   1   1   2
19    1489a   1   1   1   3   2   2   0   0   2
20    1489b   2   1   1   3   2   2   1   2   2
21    1517a   2   1   1   1   2   2   0   2   2
22    1517b   1   1   1   3   2   2   0   3   2
23    0331b   3   1   1   0   2   2   0   0   2
24    0367a   2   1   1   0   2   2   0   4   2
25    0367b   1   1   1   0   2   2   1   2   2
26    0367c   3   1   1   3   2   2   0   1   2
27    0379b   3   1   1   0   2   2   0   3   2
28    0458a   2   1   1   0   2   2   1   0   2
29    0565a   2   1   1   3   2   2   1   1   2
...     ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
996   0594b   0   0   0   3   2   0   0   3   2
997   0594c   0   4   2   4   2   2   0   3   2
998   1271b   3   4   2   2   0   2   1   3   2
999   1271c   0   1   2   4   2   2   2   2   2
1000  0354c   1   0   0   1   0   1   3   2   2
1001  1091a   3   1   2   4   2   2   3   4   2
1002  0556b   0   2   0   1   0   2   1   1   1
1003  0556c   0   1   0   1   0   3   1   0   1
1004  0387a   0   1   0   2   0   1   2   2   2
1005  1414b   0   4   0   0   0   1   1   1   1
1006  1414c   1   0   1   1   3   1   1   2   1
1007  0365c   0   4   0   3   0   1   1   2   1
1008  0403a   2   0   2   1   0   1   0   1   1
1009  1103a   3   2   0   1   0   1   1   2   1
1010  0375b   1   3   0   1   0   2   0   2   1
1011  0323a   3   4   2   4   2   2   3   2   2
1012  0323b   3   0   0   1   0   3   1   1   1
1013  0597a   3   4   2   0   2   3   3   1   1
1014  1440b   0   4   0   2   0   2   0   4   1
1015  0376b   1   2   0   2   0   1   1   1   1
1016  0366b   3   1   2   4   3   2   0   2   2
1017  0434a   3   0   0   2   0   3   3   0   2
1018  0555a   1   4   0   2   0   2   3   4   1
1019  1165c   3   0   2   4   0   2   3   2   2
1020  0380b   1   3   2   3   3   2   0   2   2
1021  1083a   0   4   2   4   2   3   1   1   1
1022  1125b   1   1   2   4   3   2   1   2   1
1023  0416a   1   1   2   4   3   2   1   1   1
1024  1224b   2   4   2   4   3   3   3   4   2
1025  0302b   2   2   2   4   3   3   3   4   2

[1026 rows x 10 columns]

In [48]:
#The above model is too large to be processed by Hill Climbing or Exhaustive Search, so instead we use Table2.csv 
from pgmpy.estimators import ExhaustiveSearch
from pgmpy.estimators import HillClimbSearch
k2 = K2Score(data)
# es = ExhaustiveSearch(data, scoring_method=k2)
# best_model = es.estimate()
# print(best_model.edges())

hc = HillClimbSearch(data, scoring_method=K2Score(data))
best_model = hc.estimate()
print(best_model.edges())
print('Best Model K2 Score: ' + str(k2.score(best_model)))

[('x1', 'x2'), ('x3', 'x4'), ('x4', 'x6'), ('x4', 'x5'), ('x5', 'x1')]
Best Model K2 Score: -48.53796562060374

# Task 4 - Conversion to Markov Model

In [38]:
mm = best_model.to_markov_model()
mm.edges()

[('x1', 'x2'), ('x1', 'x5'), ('x5', 'x4'), ('x4', 'x3'), ('x4', 'x6')]

In [39]:
mm.get_cardinality()

defaultdict(int, {})

In [40]:
from pgmpy.models import MarkovModel
from pgmpy.inference import BeliefPropagation
bp = BeliefPropagation(mm)
bp

In [44]:
bp.get_cliques()

[('x4', 'x6'), ('x4', 'x5'), ('x4', 'x3'), ('x1', 'x5'), ('x2', 'x1')]

In [47]:
modeltest = BayesianModel(bp.get_cliques())
values = data
modeltest.fit(values)
est = BayesianEstimator(modeltest, data)
k2 = K2Score(data)
print('"Markov" model K2 Score: ' + str(k2.score(modeltest)))

"Markov" model K2 Score: -50.32058779157801